<!-- -*- mode: XML -*- -->
<launch>
  <arg name="usb_port"                default="/dev/dmx_serial"/>
  <arg name="dxl_baud_rate"           default="1000000"/>
  <arg name="namespace"               default=""/>

  <arg name="use_moveit"              default="false"/>
  <arg name="use_joint_state"         default="true"/>
  <arg name="use_cmd_vel"             default="false"/>


  <!--load config file to configurate the dmx_firmware /-->
  <!--param name="dynamixel_info"          value="$(find dynamixel_controllers)/config/castor_dmx.yaml"/-->
  <!--rosparam file="$(find dynamixel_workbench_controllers)/config/castor_dmx.yaml" command="load"/-->
  <!--launch dynamixel controllers node/-->
  <!--node name="dmx_controller" pkg="dynamixel_workbench_controllers" type="dynamixel_workbench_controllers"
          required="true" output="screen" args="$(arg usb_port) $(arg dxl_baud_rate)">
      <param name="use_moveit"              value="$(arg use_moveit)"/>
      <param name="use_joint_states_topic"  value="$(arg use_joint_state)"/>
      <param name="use_cmd_vel_topic"       value="$(arg use_cmd_vel)"/>
      <rosparam>
        publish_period: 0.010
        dxl_read_period: 0.010
        dxl_write_period: 0.010
      </rosparam>
    </node-->

<!-- Start tilt joint controller -->
    <rosparam file="$(find dynamixel_controllers)/config/head_arm_controller.yaml" command="load"/>
    <node name="controller_spawner" pkg="dynamixel_controllers" type="controller_spawner.py"
          args="--manager=dynamixel_controller_manager
                --port=dxl_tty1
                neck_joint_controller
		right_shoulder_roll_controller
		right_shoulder_pitch_controller
		right_elbow_pitch_controller
		left_shoulder_roll_controller
		left_elbow_pitch_controller
		left_shoulder_pitch_controller"
          output="screen"/>
	

<!-- Start joints trajectory controller controller -->
    <rosparam file="$(find dynamixel_controllers)/config/joint_trajectory_controller.yaml" command="load"/>
    <node name="rightarm_metacontroller" pkg="dynamixel_controllers" type="controller_spawner.py"
          args="--manager=dynamixel_controller_manager
                --type=meta
                right_arm_controller
		right_shoulder_roll_controller
	        right_shoulder_pitch_controller
		right_elbow_pitch_controller
               "
          output="screen"/>

   <node name="leftarm_metacontroller" pkg="dynamixel_controllers" type="controller_spawner.py"
          args="--manager=dynamixel_controller_manager
                --type=meta
                left_arm_controller
		left_shoulder_roll_controller
		left_shoulder_pitch_controller
		left_elbow_pitch_controller
               "
          output="screen"/>

   <node name="head_metacontroller" pkg="dynamixel_controllers" type="controller_spawner.py"
          args="--manager=dynamixel_controller_manager
                --type=meta
                head_controller
		neck_joint_controller
               "
          output="screen"/>

</launch>
